.landing{
    height: 100%;
    width: 100%;
}
.mask{
    width: 100%;
    height: 100vh;
}
.background-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.landing .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.landing .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    overflow: hidden;
    border-right: .15rem solid whitesmoke;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15rem;
     animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.landing .content p{
    font-size: 1.4rem;
    font-weight:200 ;
    text-transform: uppercase;
}
.btnn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background:transparent ;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-weight:600;
    cursor: pointer;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: whitesmoke; }
  }
  
@media screen and  (max-width: 640px){
    .landing .content h1{
        font-size: 3rem;
       
    }
    .landing .content p{
        font-size: 1.4rem;
    }    
}